#banner{
    width: 100%;
    padding: 0%;
}

.principal{
    background-color: #cccccc;
    padding: 30px;
}

.titulo-inicial{
    padding: 20px;
}
.titulo-centralizado{
    text-align: center;

}
p{
    text-align: center;

}
.missao{
    font-size: 20px;
}
.missao strong{
    color: red;
}

.itens{
    font-size: 18px;
    font-style: italic;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
}

.beneficios{
    background-color: #fff;
    text-align: center;
    padding-top: 15px;
}

.beneficio{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}